<ngx-spinner></ngx-spinner>

<div class="container" *ngIf="videoDetails">
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <video width="720" height="440" poster="https://s3-eu-west-1.amazonaws.com/aws-howto-images/{{videoDetails.video.cover}}" controls src="https://s3-eu-west-1.amazonaws.com/aws-howto-images/{{videoDetails.video.link}}"></video>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-6">

      <h5>
        {{videoDetails.video.name}}&nbsp;
        <button class="btn btn-default btn-xs" [ngClass]="{'btn-info':videoChannelStatus.liked}" (click)="liked(videoDetails.video.id)">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> LIKE
        </button>
        &nbsp;
        <button class="btn btn-default btn-xs" [ngClass]="{'btn-info':videoChannelStatus.disliked}" (click)="disliked(videoDetails.video.id)">
          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> DISLIKE
        </button>
      </h5>

      <h6 *ngIf="videoDetails.channel">
        Channel  {{videoDetails.channel.name}}
        &nbsp;
        <button class="btn btn-info btn-xs" [ngClass]="{'btn-danger':videoChannelStatus.subscribe}" (click)="subscribe(videoDetails.channel.id)">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> {{ videoChannelStatus.subscribe?'unsubscribe':'subscribe'}}
        </button>
      </h6>

      <h6 *ngIf="videoDetails.channel">
        Description  {{videoDetails.video.desc}}
      </h6>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-6">

      <div class="panel panel-default">
        <div class="panel-heading">{{videoDetails.video.name}} ? </div>
        <div class="panel-body">

          <form [formGroup]="answerForm" (submit)="answer()">

            <div class="form-group">
              <input type="text" formControlName="answer" class="form-control" name="answer" id="answer" autocomplete="answer" value="">
            </div>
            <button type="submit" [disabled]="answerForm.invalid" class="btn btn-primary">Answer</button>
          </form>

          <ul class="list-group"  style="margin-top:40px">
            <li *ngFor="let answer of answers" class="list-group-item">
              <span class="badge">{{answer.user.first_name}}</span>
              <h6>{{answer.answer.text}}</h6>
              {{answer.answer.createdAt}}
            </li>
          </ul>
        </div>
    </div>


    </div>
  </div>
</div>
