
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Overpass:400,700');


$ff_open: 'Open Sans', sans-serif;
$ff_over: 'Overpass', Sans-serif;

$fw_Light: 300;
$fw_Regular: 400;
$fw_SemiBold: 600;
$fw_Bold: 700;
$fw_ExtraBold: 800;


::selection { background: #efefef; color: #000000;}
::-moz-selection { background: #efefef; color: #000000;}

h3{
    font-family: $ff_open;
    font-weight: $fw_Bold;
    font-size: 32px;
}


//////////////////////////////////////////////////////////////////////////////////////////////////
body {
    margin: 0px;
    font-family: $ff_open;
    font-weight: $fw_Regular;
    font-size: 16px;
    color: $color_black;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    a {
        color: $color_red;
        text-decoration: none;
        outline: 0;
        @include transition(0.3s, 0s);
        &:hover, &:active, &:focus {
            color: $color_red_hover;
            outline: 0;
            text-decoration: none;
        }
    }
}

// SVG Animation//
//--------------------------------------------------------------------------------------------//
.progressModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(255, 255, 255, 0.99);
    .inner {
        width: 100%;
        top: 33%;
        position: absolute;
    }
    .whiteRow {
        margin: 0 auto;
        max-width: 20%;
    }
}
//--------------------------------------------------------------------------------------------//


// Common Css //
//--------------------------------------------------------------------------------------------//

//--------------------------------------------------------------------------------------------//


