@import "mixin";
@import "color";
@import "global";
@import "form_elements";

.form-box{margin-bottom: 25px;}
.form-box label{color:#333333; font-size:12px; font-weight: 600; width:100%; display: block; margin-bottom: 8px;}
.form-box input{width:100%; padding:15px; font-size: 14px; border: 1px solid #ddd; color:#333;}
.form-box input.required{border:1px solid #ff5a67;}


.login-body{background: #F6F6F6; display: block; height:100vh;}
.login-body .login-box{background: #fff; padding: 35px 40px; width:500px; margin: 0px auto; box-shadow: 0px 0px 20px #eaeaea; position: relative; top:50px;}
.login-body .login-box .logo{margin-bottom: 10px;}
.login-body .login-box .logo img{width:150px;}
.login-body .login-box .text{color:#666; font-size: 16px;}
.login-body .login-box form{margin-top: 40px;}
.login-body .login-box form .form-box{position: relative;}
.login-body .login-box form .form-box a.forget{font-size:13px; color:#666; position: absolute; top:0; right: 0;}
.login-body .login-box form .form-box a.forget:hover{color: #D21726;}
.login-body .login-box form .form-box.col{width:48.8%; display: inline-block;}
.login-body .login-box form .form-box.col:first-child{margin-right:5px;}
.login-body .login-box form .form-box.col:last-child{margin-left:5px;}
.login-body .login-box form .btn-row{text-align: center; margin-top:40px; margin-bottom: 30px;}
.login-body .login-box .small-text{font-size: 14px; font-weight: 300; color:#666;}
.login-box .social-login{text-align: center; padding-top: 40px; padding-bottom: 40px;}
.login-body .login-box .social-login a{font-family: 'Overpass', Sans-serif; font-size: 15px; font-weight: 700; color:#333; border:1px solid #DEDEDE; padding:15px 20px; border-radius: 5px; margin: 0 5px;}
.login-body .login-box .social-login a span img{width:22px; height: 22px; vertical-align: middle; margin-right: 10px;}
.login-body .login-box hr{margin:35px 0px 30px;}
.login-body .login-box .other-link{font-size: 14px; color:#333; text-align: center;}
.login-body .login-box .other-link span a{font-family: 'Overpass', Sans-serif; font-size: 15px; color:#D21726;}
.login-body .login-box .other-link span{margin-left: 8px;}
.login-body .login-box .small-text .note{color:#D21726; font-weight: 600;}
.login-body .login-box .confirmation{display: flex; margin-top:40px; margin-bottom: 70px;}
.login-body .login-box .confirmation img{width:42px; height: 42px; margin-right: 20px;}

header {
    font-family: $ff_over;
    padding: 25px 40px;
    box-shadow: 0 2px 10px 0px #e6e6e6;
    flex-basis: auto;
    justify-content: center;
    align-items: center;

    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    .left-side {
        width: auto;
        display: flex;
        order: 1;
        .menu_button {
            align-self: center;
            .menu {
                img {
                    width: 25px;
                    height: 25px;
                }
                margin-right: 30px;
            }
        }
    }
    .right-side {
        width: 100%;
        text-align: right;
        order: 3;
    }
    .logo {
        width: 130px;
        margin-right: 20px;
    }
    .explore a {
        color: #333;
        font-weight: 100;
        line-height: 36px;
    }
    .search-box {
        input {
            height: 48px;
            padding: 10px 15px 10px 50px;
            border-color: $color_red;
            width: 100%;
            font-size: 16px;
            background: url("../images/icon/button/search.svg") no-repeat 15px;
            background-size: 15px auto;
        }
        width: 44%;
        margin: 0 20px;
        order: 2;
    }
    .right-side .user {
        position: relative;
        margin-left: 20px;
        .user_icon {
            width: 48px;
        }
        .user_active {
            position: absolute;
            bottom: -17px;
            right: -9px;
            width: 22px;
        }
    }
}

.section_search{
    padding: 100px 0;
    max-width: 800px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    .search_logo{
        img{
            width: 250px;
        }
    }
    .input-group{
        margin-top: 50px;
        .form-control{
            border-color: $color_red;
            padding: 0 22px;
        }
    }
    .search_sub_link{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 25px 0 0 0;
        a{
            margin: 10px 20px;
            font-family: $ff_over;
            font-weight: $fw_Regular;
            color: $color_black;
            font-size: 17px;
            display: block;
            img{
                width: 25px;
                margin-right: 5px;
            }
        }
    }
}
.section_featured_video{
    flex-basis: auto;
    justify-content: start;
    align-items: self-start;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    padding: 0 40px;
    margin: 0 auto;

    .left_section, .right_section{
        width: 185px;
        border: 1px solid #efefef;
        background-color: #f6f6f6;
    }

    .left_section {
        order: 1;
    }
    .right_section{
        order: 3;
    }
    .middle_section {
        width: calc(100% - 185px);
        order: 2;
        padding: 0 25px;
        justify-content: center;

        .feature_video_list{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
            justify-content: center;
            .video_list{
                width: 30%;
                margin: 15px;
                img{
                    width: 100%;
                }
            }
        }
    }


}

@media screen and (max-width: 1200px) {
    header{ -webkit-flex-flow: row wrap; flex-flow: row wrap;}
    header .search-box{order:3; width:100%; margin:30px 0 0 0;}
    header .left-side{width:50%;}
    header .right-side{width:50%; text-align: right; order:2;}

    .section_featured_video{
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }
}
@media screen and (max-width: 767px) {
    header .logo{width:130px;}

    header .right-side .btn{display: none;}
    header .left-side{width:70%;}
    header .right-side{width:30%;}
}
@media screen and (max-width: 560px) {
    header{padding:20px 15px;}
    header .search-box{margin-top:20px;}
}
@media screen and (max-width: 560px) {
    .login-body .login-box{width:100%; top:0}
    .login-body .login-box form .form-box.col{width:100%; display: block;}
}

@media screen and (max-width: 390px) {
    .login-body .login-box{padding:35px 20px;}
    .login-body .login-box .social-login a{margin: 0}
}

