<div class="container">

  <div class="row">
    <div class="col-md-12 col-lg-12">
      <img src="https://s3-eu-west-1.amazonaws.com/aws-howto-images/{{course.cover}}" class="cover-img">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <h3>{{course.name}}</h3>
    </div>
  </div>

  <div class="row">

    <div class="col-md-5">
      <div class="panel panel-default" *ngFor="let level of levels">
        <div class="panel-heading">Level Name : {{level.name}} , Duration: {{level.duration }} HR</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" [ngClass]="{'active white-class':current_video==video}"   *ngFor="let video of level_videos[level.id]"><a (click)="play($event,video)">{{video.name}}</a>  <span class="badge">{{video.duration}}</span> </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="col-md-7" *ngIf="current_video">
      <video width="100%" preload="none" autoplay="false" height="440" poster="https://s3-eu-west-1.amazonaws.com/aws-howto-images/{{current_video.cover}}" controls src="https://s3-eu-west-1.amazonaws.com/aws-howto-images/{{current_video.link}}"></video>
    </div>

  </div>

</div>
