<div class="row" style="margin-top:5%">
  <ngx-spinner></ngx-spinner>

  <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <!--<th>Poster</th>-->
          <th>Course Title</th>
          <th *ngIf="parent">Action</th>
        </tr>
        <tr *ngFor="let course of courses">
          <!--<td width="10%"> <img class="img-responsive img-thumbnail" src="https://s3-eu-west-1.amazonaws.com/aws-howto-images/{{course.cover}}" alt=""> </td>-->
          <td> <a [routerLink]="['/dashboard/build-course',course.id]"> {{course.name}} </a></td>
          <td *ngIf="parent" width="10%"> <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button> </td>
        </tr>
      </table>
    </div>
  </div>
</div>
