<ngx-spinner></ngx-spinner>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <img src="https://s3-eu-west-1.amazonaws.com/aws-howto-images/{{channel.cover}}" class="cover-img">
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-lg-4">
    <img class="img-responsive img-thumbnail img-avatar" src="https://s3-eu-west-1.amazonaws.com/aws-howto-images/{{channel.avatar}}">
    {{channel.name}}
  </div>
  <div class="col-md-8 col-lg-8">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/dashboard/channel',channel_id,'publish']">Publish</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard/channel',channel_id,'videos']">Videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Followers</a>
      </li>
    </ul>
  </div>

    <router-outlet></router-outlet>
</div>
