<div class="login-body">
    <div class="login-box">
        <div class="logo">
            <img src="assets/images/logo.svg" alt="Logo" />
        </div>
        <div class="text">Reset your password</div>
        <form [formGroup]="ResetPasswordForm">
            <div class="form-box">
                <label>ENTER PASSWORD</label>
                <input type="password" formControlName="password" name="password" placeholder="Enter your password" />
            </div>
            <div class="form-box">
                <label>CONFIRM PASSWORD</label>
                <input type="password" name="password" formControlName="passConfirm" placeholder="Enter your password" />
            </div>
            <div class="small-text">
                <span class="note">Note:</span> Your password should contain atleast one number and one uppercase letter</div>
            <div class="btn-row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>

    </div>
</div>