<div class="row" style="margin-top:5%">
  <ngx-spinner></ngx-spinner>
  <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">Update Profile Info</div>
      <div class="panel-body">

        <form [formGroup]="profileForm"id="createForm" (submit)="update()">

          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" formControlName="first_name" class="form-control" name="first_name" id="first_name" autocomplete="first_name" value="">
          </div>

          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" formControlName="last_name" class="form-control" name="last_name" id="last_name" autocomplete="last_name" value="">
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control" name="email" id="email" autocomplete="email" value="">
          </div>


          <div class="form-group">
            <label for="interests">Intrested</label>
            <ng-multiselect-dropdown
              [placeholder]="'Select Your Interest Categories'"
              [data]="dropdownList"
              formControlName="categories"
              [settings]="dropdownSettings"
            >
            </ng-multiselect-dropdown>
          </div>



          <button type="submit" [disabled]="profileForm.invalid" class="btn btn-primary">Update</button>
        </form>

      </div>
    </div>
  </div>
</div>
