<div class="row" style="margin-top:5%">
  <ngx-spinner></ngx-spinner>

  <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">Login Form</div>
      <div class="panel-body">

        <form [formGroup]="registerForm" (submit)="register()">

          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" formControlName="first_name" class="form-control" name="first_name" id="first_name" autocomplete="first_name" value="">
          </div>

          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" formControlName="last_name" class="form-control" name="last_name" id="last_name" autocomplete="last_name" value="">
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control" name="email" id="email" autocomplete="email" value="">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" name="password" id="password" autocomplete="password" value="">
          </div>

          <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Register</button>
          &nbsp;
          <a [routerLink]="['/login']">Login</a>
        </form>

      </div>
    </div>
  </div>
</div>
