<div class="row" style="margin-top:5%">
  <ngx-spinner></ngx-spinner>
  <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">Login Form</div>
      <div class="panel-body">

        <form [formGroup]="loginForm" (submit)="login()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control" name="email" id="email" autocomplete="email" value="">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" name="password" id="password" autocomplete="password" value="">
          </div>

          <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
          &nbsp;
          <a [routerLink]="['/signup']">SignUp</a>
        </form>

      </div>
    </div>
  </div>
</div>
