<ngx-spinner></ngx-spinner>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <img src="https://s3-eu-west-1.amazonaws.com/aws-howto-images/{{school.cover}}" class="cover-img">
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-lg-4">
    <img class="img-responsive img-thumbnail img-avatar" src="https://s3-eu-west-1.amazonaws.com/aws-howto-images/{{school.avatar}}">
    {{school.name}}
  </div>
  <div class="col-md-8 col-lg-8">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/dashboard/school',school_id]">Create Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard/school',school_id,'courses']">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Followers</a>
      </li>
    </ul>
  </div>

    <router-outlet></router-outlet>
</div>
