<div class="login-body">
    <div class="login-box">
        <div class="logo">
            <img src="assets/images/logo.svg" alt="Logo" />
        </div>
        <div class="text">Forget your password?</div>
        <div class="confirmation">
            <img src="assets/images/checked.svg" alt="checked" />
            <div class="small-text">We have sent an email that allows you to reset your password.</div>
        </div>
        <div class="small-text text-center mb-10">Not received email yet?</div>
        <div class="btn-row text-center">
            <button type="submit" class="btn btn-default">Reset Password</button>
        </div>
        <hr />
        <div class="other-link">
            Remember Password? <span><a href="#">Login here</a></span>
        </div>
    </div>
</div>