<div class="container">
  <ngx-spinner></ngx-spinner>

  <div class="row">
    <div class="col-md-12 text-center">
      <h2>{{course.name}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">Create Course Level</div>
        <div class="panel-body">
          <form [formGroup]="createLevelForm"id="createForm" (submit)="createLevel()">
            <div class="row">
              <div class="form-group col-md-5">
                <input type="text" formControlName="name" placeholder="level name" class="form-control" name="name" id="name" autocomplete="name" value="">
              </div>

              <div class="form-group col-md-3">
                <input type="text" formControlName="duration" placeholder="duration" class="form-control" name="duration" id="duration" autocomplete="duration" value="">
              </div>

              <div class="col-md-4">
                <button type="submit" [disabled]="createLevelForm.invalid" class="btn btn-primary">Create Level</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <app-publish-video [levelRelation]="true" [level_id]="current_level" (afterVideoPublished)="afterVideoPublished()" ></app-publish-video>
    </div>

    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">Levels</div>
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <select (change)="get_level_courses($event.target.value)">
                <option value="{{level.id}}" *ngFor="let level of levels">{{level.name}}</option>
              </select>
            </div>
          </div>
          <ul class="list-group" style="margin-top:10px">
            <li class="list-group-item" *ngFor="let video of level_videos">{{video.name}}</li>
          </ul>

        </div>
      </div>
    </div>
  </div>

</div>
