<div class="row" style="margin-top:5%">
  <ngx-spinner></ngx-spinner>
  <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">Create Channel Form</div>
      <div class="panel-body">

        <form [formGroup]="createChannelForm"id="createForm" (submit)="create()">

          <div class="form-group">
            <label for="name">Channel Name</label>
            <input type="text" formControlName="name" class="form-control" name="name" id="name" autocomplete="name" value="">
          </div>

          <div class="form-group">
            <label for="desc">Channel Description</label>
            <input type="text" formControlName="desc" class="form-control" name="desc" id="desc" autocomplete="last_name" value="">
          </div>

          <div class="form-group">
            <label for="link">Channel Link</label>
            <input type="email" formControlName="link" class="form-control" name="link" id="link" autocomplete="email" value="">
          </div>

          <div class="form-group">
            <label for="avatar">Channel Avatar</label>
            <input type="file" (change)="fileUpload($event.target)"  class="form-control" name="avatar" id="avatar" autocomplete="avatar" value="">
          </div>

          <div class="form-group">
            <label for="cover">Channel Cover</label>
            <input type="file" (change)="fileUpload($event.target)"  class="form-control" name="cover" id="cover" autocomplete="cover" value="">
          </div>

          <div class="form-group">
            <label for="interests">Categories</label>
            <ng-multiselect-dropdown
              [placeholder]="'Select Channel Categories'"
              [data]="dropdownList"
              formControlName="categories"
              [settings]="dropdownSettings"
            >
            </ng-multiselect-dropdown>
          </div>


          <button type="submit" [disabled]="createChannelForm.invalid" class="btn btn-primary">Create</button>
        </form>

      </div>
    </div>
  </div>
</div>
