<div class="container">
  <ngx-spinner></ngx-spinner>
  <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>

  <div class="row">
  <div class="col-sm-6 col-md-4" *ngFor="let videoDetails of videos">

      <div class="thumbnail">
        <img src="https://s3-eu-west-1.amazonaws.com/aws-howto-images/{{videoDetails.video.cover}}">
        <div class="caption">
          <h4>{{videoDetails.video.name}}</h4>
          <h5 *ngIf="videoDetails.course">Course <span class="label label-warning"><a [routerLink]="['/dashboard/course',videoDetails.course.id]">{{videoDetails.course.name}}</a></span></h5>
          <h5 *ngIf="videoDetails.channel">Channel <span class="label label-warning"><a [routerLink]="['/dashboard/channel-videos',videoDetails.channel.id]">{{videoDetails.channel.name}}</a></span></h5>
          <button class="btn btn-danger btn-xs" (click)="viewVideo(videoDetails.video)">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> VIEW
          </button>
        </div>
      </div>
  </div>
</div>

</div>
