<div class="row" [hidden]="levelRelation && !level_id">
  <ngx-spinner></ngx-spinner>
  <div class="" [ngClass]="{'col-md-6 col-md-offset-4':!levelRelation}">
    <div class="panel panel-default">
      <div class="panel-heading">Publish Video</div>
      <div class="panel-body">

        <form [formGroup]="publishVideoForm"id="createForm" (submit)="publish()">

          <div class="form-group">
            <label for="name">Video Title</label>
            <input type="text" formControlName="name" class="form-control" name="name" id="name" autocomplete="name" value="">
          </div>

          <div class="form-group">
            <label for="desc">Video Description</label>
            <input type="text" formControlName="desc" class="form-control" name="desc" id="desc" autocomplete="desc" value="">
          </div>

          <div class="form-group">
            <label for="duration">Duration</label>
            <input type="email" formControlName="duration" class="form-control" name="duration" id="duration" autocomplete="duration" value="">
          </div>

          <div class="form-group">
            <label for="link">Video File</label>
            <input type="file" (change)="fileUpload($event.target)"  class="form-control" name="link" id="link" autocomplete="link" value="">
          </div>

          <div class="form-group">
            <label for="cover">Video Poster</label>
            <input type="file" (change)="fileUpload($event.target)"  class="form-control" name="cover" id="cover" autocomplete="cover" value="">
          </div>


          <button type="submit" [disabled]="publishVideoForm.invalid" class="btn btn-primary">Publish</button>
        </form>

      </div>
    </div>
  </div>
</div>
