@media screen and (max-width: 560px) {
    .login-body .login-box{width:100%; top:0}
    .login-body .login-box form .form-box.col{width:100%; display: block;}
}

@media screen and (max-width: 390px) {
    .login-body .login-box{padding:35px 20px;}
    .login-body .login-box .social-login a{margin: 0}
}