/* Placeholder Example
.class_name {
    @include placeholder {
        color: red;
    }
}*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Overpass:400,700");
.color_red {
  color: #000000 !important; }

.bg_red, .btn_gradient_red:not(:disabled):not(.disabled):active, .active.btn_gradient_red:not(:disabled):not(.disabled) {
  background-color: #000000 !important; }

/*--------------------  Gradient  --------------------*/
.bg_gradient_red {
  background: #D62231;
  background: -moz-linear-gradient(-45deg, #D62231 0%, #e02c3b 100%);
  background: -webkit-linear-gradient(-45deg, #D62231 0%, #e02c3b 100%);
  background: linear-gradient(135deg, #D62231 0%, #e02c3b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_red', endColorstr='$color_red_hover',GradientType=1 ); }

::selection {
  background: #efefef;
  color: #000000; }

::-moz-selection {
  background: #efefef;
  color: #000000; }

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 32px; }

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth; }
  body a {
    color: #D62231;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    body a:hover, body a:active, body a:focus {
      color: #e02c3b;
      outline: 0;
      text-decoration: none; }

.progressModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background: rgba(255, 255, 255, 0.99); }
  .progressModal .inner {
    width: 100%;
    top: 33%;
    position: absolute; }
  .progressModal .whiteRow {
    margin: 0 auto;
    max-width: 20%; }

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white; }

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset; }

.form-control {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  border: 1px solid #e2e2e2;
  letter-spacing: 0.1px;
  margin-bottom: 0px;
  padding: 12px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .form-control:hover, .form-control:focus {
    color: #464a4c;
    background-color: #fff;
    outline: 0;
    box-shadow: none; }

.form-control-lg {
  border-radius: 2px;
  font-size: 18px;
  padding: 14px 20px; }

input.form-control::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
  color: #b5b5b5; }

input.form-control:-moz-placeholder, textarea.form-control:-moz-placeholder {
  color: #b5b5b5; }

input.form-control::-moz-placeholder, textarea.form-control::-moz-placeholder {
  color: #b5b5b5; }

input.form-control:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {
  color: #b5b5b5; }

.btn, .btn_red, .btn_border_red, .btn_gradient_red, .btn_icon_money, .btn_icon_upload, .btn_icon_only_search {
  font-family: "Overpass", Sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  border: 1px solid;
  cursor: pointer;
  padding: 12px 20px;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s; }
  .btn:hover, .btn_red:hover, .btn_border_red:hover, .btn_gradient_red:hover, .btn_icon_money:hover, .btn_icon_upload:hover, .btn_icon_only_search:hover, .btn:active, .btn_red:active, .btn_border_red:active, .btn_gradient_red:active, .btn_icon_money:active, .btn_icon_upload:active, .btn_icon_only_search:active, .btn:focus, .btn_red:focus, .btn_border_red:focus, .btn_gradient_red:focus, .btn_icon_money:focus, .btn_icon_upload:focus, .btn_icon_only_search:focus {
    text-decoration: none;
    outline: none; }

.btn:focus, .btn_red:focus, .btn_border_red:focus, .btn_gradient_red:focus, .btn_icon_money:focus, .btn_icon_upload:focus, .btn_icon_only_search:focus, .btn.focus, .focus.btn_red, .focus.btn_border_red, .focus.btn_gradient_red, .focus.btn_icon_money, .focus.btn_icon_upload, .focus.btn_icon_only_search {
  outline: 0;
  box-shadow: none; }

.btn_lg {
  font-size: 16px !important;
  padding: 18px 40px; }

.btn_sm {
  font-size: 14px !important;
  padding: 12px 22px; }

.btn_red {
  color: #ffffff;
  background-color: #D62231;
  border-color: #D62231; }
  .btn_red:hover, .btn_red:active, .btn_red:focus {
    color: #ffffff;
    background-color: #e02c3b;
    border-color: #e02c3b; }

.btn_border_red {
  color: #D62231;
  background-color: transparent;
  border-color: #D62231; }
  .btn_border_red:hover, .btn_border_red:active, .btn_border_red:focus {
    color: #e02c3b;
    background-color: RGBA(255, 255, 255, 0.1);
    border-color: #e02c3b; }

.btn_gradient_red:hover, .btn_gradient_red:active, .btn_gradient_red:focus {
  color: #ffffff;
  background-position: right center; }

.btn_icon_money {
  background-image: url(../images/icon/button/money_bag.svg);
  background-size: 20px auto;
  background-repeat: no-repeat;
  background-position: 15px center;
  padding-left: 50px; }

.btn_icon_upload {
  background-image: url(../images/icon/button/upload.svg);
  background-size: 24px auto;
  background-repeat: no-repeat;
  background-position: 15px center;
  padding-left: 50px; }

.btn_icon_only_search {
  background-image: url(../images/icon/button/search_white.svg);
  background-size: 23px auto;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 95px;
  height: 55px; }

.error {
  background: #ffedef;
  margin-top: 28px;
  color: #d21726;
  font-size: 14px;
  padding: 15px;
  border: 1px solid #ffced2; }

.success {
  background: #e7ffe8;
  margin-top: 28px;
  color: #227f25;
  font-size: 14px;
  padding: 15px;
  border: 1px solid #2F9B36; }

.form-box {
  margin-bottom: 25px; }

.form-box label {
  color: #333333;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  display: block;
  margin-bottom: 8px; }

.form-box input {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ddd;
  color: #333; }

.form-box input.required {
  border: 1px solid #ff5a67; }

.login-body {
  background: #F6F6F6;
  display: block;
  height: 100vh; }

.login-body .login-box {
  background: #fff;
  padding: 35px 40px;
  width: 500px;
  margin: 0px auto;
  box-shadow: 0px 0px 20px #eaeaea;
  position: relative;
  top: 50px; }

.login-body .login-box .logo {
  margin-bottom: 10px; }

.login-body .login-box .logo img {
  width: 150px; }

.login-body .login-box .text {
  color: #666;
  font-size: 16px; }

.login-body .login-box form {
  margin-top: 40px; }

.login-body .login-box form .form-box {
  position: relative; }

.login-body .login-box form .form-box a.forget {
  font-size: 13px;
  color: #666;
  position: absolute;
  top: 0;
  right: 0; }

.login-body .login-box form .form-box a.forget:hover {
  color: #D21726; }

.login-body .login-box form .form-box.col {
  width: 48.8%;
  display: inline-block; }

.login-body .login-box form .form-box.col:first-child {
  margin-right: 5px; }

.login-body .login-box form .form-box.col:last-child {
  margin-left: 5px; }

.login-body .login-box form .btn-row {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px; }

.login-body .login-box .small-text {
  font-size: 14px;
  font-weight: 300;
  color: #666; }

.login-box .social-login {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px; }

.login-body .login-box .social-login a {
  font-family: 'Overpass', Sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #333;
  border: 1px solid #DEDEDE;
  padding: 15px 20px;
  border-radius: 5px;
  margin: 0 5px; }

.login-body .login-box .social-login a span img {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 10px; }

.login-body .login-box hr {
  margin: 35px 0px 30px; }

.login-body .login-box .other-link {
  font-size: 14px;
  color: #333;
  text-align: center; }

.login-body .login-box .other-link span a {
  font-family: 'Overpass', Sans-serif;
  font-size: 15px;
  color: #D21726; }

.login-body .login-box .other-link span {
  margin-left: 8px; }

.login-body .login-box .small-text .note {
  color: #D21726;
  font-weight: 600; }

.login-body .login-box .confirmation {
  display: flex;
  margin-top: 40px;
  margin-bottom: 70px; }

.login-body .login-box .confirmation img {
  width: 42px;
  height: 42px;
  margin-right: 20px; }

header {
  font-family: "Overpass", Sans-serif;
  padding: 25px 40px;
  box-shadow: 0 2px 10px 0px #e6e6e6;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }
  header .left-side {
    width: auto;
    display: flex;
    order: 1; }
    header .left-side .menu_button {
      align-self: center; }
      header .left-side .menu_button .menu {
        margin-right: 30px; }
        header .left-side .menu_button .menu img {
          width: 25px;
          height: 25px; }
  header .right-side {
    width: 100%;
    text-align: right;
    order: 3; }
  header .logo {
    width: 130px;
    margin-right: 20px; }
  header .explore a {
    color: #333;
    font-weight: 100;
    line-height: 36px; }
  header .search-box {
    width: 44%;
    margin: 0 20px;
    order: 2; }
    header .search-box input {
      height: 48px;
      padding: 10px 15px 10px 50px;
      border-color: #D62231;
      width: 100%;
      font-size: 16px;
      background: url("../images/icon/button/search.svg") no-repeat 15px;
      background-size: 15px auto; }
  header .right-side .user {
    position: relative;
    margin-left: 20px; }
    header .right-side .user .user_icon {
      width: 48px; }
    header .right-side .user .user_active {
      position: absolute;
      bottom: -17px;
      right: -9px;
      width: 22px; }

.section_search {
  padding: 100px 0;
  max-width: 800px;
  width: 90%;
  text-align: center;
  margin: 0 auto; }
  .section_search .search_logo img {
    width: 250px; }
  .section_search .input-group {
    margin-top: 50px; }
    .section_search .input-group .form-control {
      border-color: #D62231;
      padding: 0 22px; }
  .section_search .search_sub_link {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px 0 0 0; }
    .section_search .search_sub_link a {
      margin: 10px 20px;
      font-family: "Overpass", Sans-serif;
      font-weight: 400;
      color: #000000;
      font-size: 17px;
      display: block; }
      .section_search .search_sub_link a img {
        width: 25px;
        margin-right: 5px; }

.section_featured_video {
  flex-basis: auto;
  justify-content: start;
  align-items: self-start;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  padding: 0 40px;
  margin: 0 auto; }
  .section_featured_video .left_section, .section_featured_video .right_section {
    width: 185px;
    border: 1px solid #efefef;
    background-color: #f6f6f6; }
  .section_featured_video .left_section {
    order: 1; }
  .section_featured_video .right_section {
    order: 3; }
  .section_featured_video .middle_section {
    width: calc(100% - 185px);
    order: 2;
    padding: 0 25px;
    justify-content: center; }
    .section_featured_video .middle_section .feature_video_list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
      justify-content: center; }
      .section_featured_video .middle_section .feature_video_list .video_list {
        width: 30%;
        margin: 15px; }
        .section_featured_video .middle_section .feature_video_list .video_list img {
          width: 100%; }

@media screen and (max-width: 1200px) {
  header {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }
  header .search-box {
    order: 3;
    width: 100%;
    margin: 30px 0 0 0; }
  header .left-side {
    width: 50%; }
  header .right-side {
    width: 50%;
    text-align: right;
    order: 2; }
  .section_featured_video {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; } }

@media screen and (max-width: 767px) {
  header .logo {
    width: 130px; }
  header .right-side .btn, header .right-side .btn_red, header .right-side .btn_border_red, header .right-side .btn_gradient_red, header .right-side .btn_icon_money, header .right-side .btn_icon_upload, header .right-side .btn_icon_only_search {
    display: none; }
  header .left-side {
    width: 70%; }
  header .right-side {
    width: 30%; } }

@media screen and (max-width: 560px) {
  header {
    padding: 20px 15px; }
  header .search-box {
    margin-top: 20px; } }

@media screen and (max-width: 560px) {
  .login-body .login-box {
    width: 100%;
    top: 0; }
  .login-body .login-box form .form-box.col {
    width: 100%;
    display: block; } }

@media screen and (max-width: 390px) {
  .login-body .login-box {
    padding: 35px 20px; }
  .login-body .login-box .social-login a {
    margin: 0; } }
