
<div class="login-body">
    <div class="login-box">
        <div class="logo">
            <img src="assets/images/logo.svg" alt="Logo" />
        </div>
        <div class="text">Forget your password?</div>
        <form [formGroup]="forgotPasswordForm">

            <div class="form-box">
                <label>ENTER EMAIL</label>
                <input type="text" formControlName="email" name="email-address" placeholder="kishan@gmail.com" />
            </div>
            <re-captcha siteKey="6LfO7WUUAAAAAKoZNm1SSj2uEuY02icA7Tv1MN5R" size="invisible" #captchaRef="reCaptcha" (resolved)="$event && submit($event)"></re-captcha>
            <div class="btn-row">
                <button (click)="captchaRef.execute()" type="submit" class="btn btn-default">Create account</button>
            </div>
        </form>
        <hr />
        <div class="other-link">
            Remember Password?
            <span><a href="#">Login here</a></span>
        </div>
    </div>
</div>

