<div class="row" style="margin-top:5%">
  <ngx-spinner></ngx-spinner>

  <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>Avatar</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let channel of channels">
          <td width="10%"> <img class="img-responsive img-thumbnail" src="https://s3-eu-west-1.amazonaws.com/aws-howto-images/{{channel.avatar}}" alt=""> </td>
          <td> <a [routerLink]="['/dashboard/channel',channel.id]"> {{channel.name}} </a></td>
          <td width="10%"> <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button> </td>
        </tr>
      </table>
    </div>
  </div>
</div>
