<ngx-spinner></ngx-spinner>

<div class="row">
  <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">Create Course Form</div>
      <div class="panel-body">

        <form [formGroup]="createCourseForm"id="createForm" (submit)="create()">

          <div class="form-group">
            <label for="name">Course Name</label>
            <input type="text" formControlName="name" class="form-control" name="name" id="name" autocomplete="name" value="">
          </div>

          <div class="form-group">
            <label for="desc">Course Description</label>
            <input type="text" formControlName="desc" class="form-control" name="desc" id="desc" autocomplete="last_name" value="">
          </div>

          <button type="submit" [disabled]="createCourseForm.invalid" class="btn btn-primary">Create</button>
        </form>

      </div>
    </div>
  </div>
</div>
